body {
  background-color: beige;
  color: darkslategray;
  
  font-family: "Helvetica";
  font-size: 30px;
  
  padding-top: 20%;
  padding-left: 10%;
}

pre {
  font-family: "Georgia";
  font-size: 50px;
}


a {
  color: black;
  font-style: italic;
  text-decoration: none;
}
