//
// variables
//

 @import "../node_modules/highlight.js/styles/dracula.css";

$bg-color: #ffff00;
$primary-font-family: 'Overpass';
$secondary-font-family: 'Overpass Mono';
$link-color: #007fff;
$link-hover-color: #000;
$link-visited-color: $link-color;

$header-height: 16vmin;
$side-margin: 5vw;
$main-nav-font-size: $header-height;
$title-font-size: 10vmin;

// 
// basic element styles
// 

// window, document {
// 	background: $bg-color;
// }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background: $bg-color;
	font-family: $primary-font-family;
	font-size: 3.5vmin;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font-family;
}

h2, h3, h4, h5 {
  margin-top: 2em;
  a:after {
    content: '\21e2';
  }
}

ul, ol {
	padding: 0;

	li {
		margin-left: 1em;
	}
}

ul {
	li {
		list-style: square;
	}
}

a {

	color: $link-color;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: $link-hover-color;
	}

	&:visited {
		color: $link-color;
	}

	&:visited:hover {
		color: $link-hover-color;
	}
  
  code {
    color: $link-color;
  }
}



pre, code {
	font-family: $secondary-font-family;
}

code {
	color: #f0f;
}

pre > code {
	color: #000;
	padding: 0.5em;
}

blockquote {
    color: #ff0;
    background: #000;
    padding: 1em;
    margin: 0;
    
    p:first-child {
        margin-top: 0;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    cite {
        font-style: normal;
    }
}

table {
  font-size: 80%;
  
  tr {
    th, td {
      padding: 0.5em;
      background: #000;
      color: #ff0;
    }
    
    th {
      
    }
    
    td {
      
    }
  }
}

hr {
  border: none;
  background: transparent;
  height: 1;
  border-top: 5px dotted #f0f;
  margin-top: 2em;
  margin-bottom: 2em;
}

img, iframe, video {
  width: 100%;
  height: auto;
}

img {
  border: none;
}

iframe, video {
  min-height: 50vh;
}

// 
// the rest
// 

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	// background: linear-gradient(rgba(255, 255, 0, 1.0), rgba(255, 255, 0, 0));

	h1.main-title {
		position: absolute;
		right: $side-margin;
		top: 0;
		margin: 0;
		line-height: $header-height;

		a {
			font-weight: normal;
			display: inline-block;
		}

		.back {
			// display: none;
			display: inline-block;
			transform: rotateX(90deg);
			// transition-delay: 200ms;
			transition: transform 300ms 1000ms linear;
		}

		.interior-page & {
			.back {
				display: inline-block;
				transform: rotateX(0deg);
			}
		}

	}

	.main-nav {
		position: absolute;
		top: 0;
		left: $side-margin;
		width: $main-nav-font-size;


		a.main-nav-icon {
			font-family: $primary-font-family;
			font-size: $main-nav-font-size;
			line-height: $header-height;
			font-weight: normal;
			color: $link-color;
			transform: rotateX(0deg);
			transition: transform 200ms linear;
			display: block;

			&:hover {
				color: $link-hover-color;
			}
		}

		ol.main-nav-items {			
			max-height: 0;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 88vw;

			transition: max-height 200ms linear;

			li {
				margin: 0;
				margin-bottom: 0.5em;
				list-style: none;
				transform: rotateX(90deg);
				transition: transform 200ms linear;

				a {
					padding: 1vmin 3vmin;
					background: rgba(255, 255, 255, 1.0);
					border: 5px solid #fff;
					color: #f0f;
					display: block;
					font-size: 4vh;

					&:hover {
						border-color: #f0f;
						color: $link-color;
					}
				}
			}
		}

		&.open {
			a.main-nav-icon {
				transform: rotateX(180deg);
			}
			ol.main-nav-items {
				max-height: 300vh;

				li {
					transform: rotateX(0deg);
				}
			}
		}

	}
}

#main {
	padding: $header-height $side-margin;

	h1 {
		font-size: 225%;
		color: #f0f;
		margin-top: $header-height * 3;
    }

    h1:first-of-type {
        margin-top: 0;       
    }
    
    h2 {
        font-size: 150%;
    }
  
    h3 {
      font-size: 125%;
    }
  
    h4 {
      font-size: 100%;  
    }
    
    section.full-frame {
        height: 100vh;
        padding: 5vmin;
    }
  
    .code-columns {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      
      p {
        display: none;
      }
      
      pre {
        width: 49%;
        font-size: 50%;
        code {
          height: 100%;
        }
      }
      
    }
}